body {
  font-family: "Onest", sans-serif, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #1a1a1a;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  font-size: 1.6rem;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

/* Box sizing rules */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  width: 100vw;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  position: relative;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

main {
  min-height: 100vh;
}

/* Track */
::-webkit-scrollbar {
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  background: lightgrey;
}

/* Handle when the mouse is down */
::-webkit-scrollbar-thumb:active {
  background-color: #666;
}

.container {
  padding: 0 1.5;
  max-width: 62.5 rem;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  background-color: #1a1a1a;
  width: 100%;
  color: white;
  height: 6.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.nav {
  width: 95vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__logo {
  padding-left: min(1rem, 5%);
  min-width: 27rem;
  margin-left: 0.5rem;
}
.nav__logo--text {
  white-space: nowrap;
  color: transparent;
  font-size: 3rem;
  text-transform: uppercase;
  margin-left: 1.4rem;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #b49b56), color-stop(30%, #cbb989), color-stop(60%, #9f8642));
  background: linear-gradient(to right, #b49b56 10%, #cbb989 30%, #9f8642 60%);
  background-clip: text;
  -webkit-background-clip: text;
}

.menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 85rem;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  -webkit-margin-start: 1rem;
          margin-inline-start: 1rem;
  padding-right: min(1rem, 5%);
  z-index: 10;
}
@media (max-width: 1230px) {
  .menu {
    min-width: 70rem;
  }
}
@media (max-width: 1100px) {
  .menu {
    display: none;
  }
}
.menu__item[aria-current=page] {
  color: #cbb989;
}
.menu__item {
  color: white;
  margin-left: 1rem;
  -webkit-transition: color, 0.2s;
  transition: color, 0.2s;
}
.menu__item:hover, .menu__item:focus {
  color: #b49b56;
}
.menu__item:active {
  -webkit-transition: none;
  transition: none;
  color: #9f8642;
}

.hidden {
  display: none;
}

.ham-nav {
  position: end;
  margin-right: 1.6rem;
}
.ham-nav__icon {
  height: 20px;
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ham-nav__el {
  background-color: white;
  height: 2.4px;
  width: 26px;
  border-radius: 1px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.ham-nav__el--middle {
  -webkit-transition: opacity 0.05s;
  transition: opacity 0.05s;
}
@media (min-width: 1100px) {
  .ham-nav {
    display: none;
  }
}

.top-transform {
  -webkit-animation: top-el 0.4s ease forwards;
          animation: top-el 0.4s ease forwards;
}

.top-reverse {
  -webkit-animation: top-el-reverse 0.4s ease forwards;
          animation: top-el-reverse 0.4s ease forwards;
}

.bottom-transform {
  -webkit-animation: bottom-el 0.4s ease forwards;
          animation: bottom-el 0.4s ease forwards;
}

.bottom-reverse {
  -webkit-animation: bottom-el-reverse 0.4s ease forwards;
          animation: bottom-el-reverse 0.4s ease forwards;
}

.fade {
  opacity: 0;
}

@-webkit-keyframes top-el {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(8.7px) rotate(0deg);
            transform: translateY(8.7px) rotate(0deg); /* Move down halfway through the animation */
  }
  100% {
    -webkit-transform: translateY(8.7px) rotate(45deg);
            transform: translateY(8.7px) rotate(45deg); /* Rotate at the end of the animation */
  }
}

@keyframes top-el {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(8.7px) rotate(0deg);
            transform: translateY(8.7px) rotate(0deg); /* Move down halfway through the animation */
  }
  100% {
    -webkit-transform: translateY(8.7px) rotate(45deg);
            transform: translateY(8.7px) rotate(45deg); /* Rotate at the end of the animation */
  }
}
@-webkit-keyframes top-el-reverse {
  0% {
    -webkit-transform: translateY(8.7px) rotate(45deg);
            transform: translateY(8.7px) rotate(45deg); /* Rotate at the end of the animation */
  }
  50% {
    -webkit-transform: translateY(8.7px) rotate(0deg);
            transform: translateY(8.7px) rotate(0deg); /* Move down halfway through the animation */
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
}
@keyframes top-el-reverse {
  0% {
    -webkit-transform: translateY(8.7px) rotate(45deg);
            transform: translateY(8.7px) rotate(45deg); /* Rotate at the end of the animation */
  }
  50% {
    -webkit-transform: translateY(8.7px) rotate(0deg);
            transform: translateY(8.7px) rotate(0deg); /* Move down halfway through the animation */
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
}
@-webkit-keyframes bottom-el {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-8.7px) rotate(0deg);
            transform: translateY(-8.7px) rotate(0deg); /* Move down halfway through the animation */
  }
  100% {
    -webkit-transform: translateY(-8.7px) rotate(-45deg);
            transform: translateY(-8.7px) rotate(-45deg); /* Rotate at the end of the animation */
  }
}
@keyframes bottom-el {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-8.7px) rotate(0deg);
            transform: translateY(-8.7px) rotate(0deg); /* Move down halfway through the animation */
  }
  100% {
    -webkit-transform: translateY(-8.7px) rotate(-45deg);
            transform: translateY(-8.7px) rotate(-45deg); /* Rotate at the end of the animation */
  }
}
@-webkit-keyframes bottom-el-reverse {
  0% {
    -webkit-transform: translateY(-8.7px) rotate(-45deg);
            transform: translateY(-8.7px) rotate(-45deg); /* Rotate at the end of the animation */
  }
  50% {
    -webkit-transform: translateY(-8.7px) rotate(0deg);
            transform: translateY(-8.7px) rotate(0deg); /* Move down halfway through the animation */
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
}
@keyframes bottom-el-reverse {
  0% {
    -webkit-transform: translateY(-8.7px) rotate(-45deg);
            transform: translateY(-8.7px) rotate(-45deg); /* Rotate at the end of the animation */
  }
  50% {
    -webkit-transform: translateY(-8.7px) rotate(0deg);
            transform: translateY(-8.7px) rotate(0deg); /* Move down halfway through the animation */
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
}
.ham-menu {
  z-index: 10;
  background-color: #1a1a1a;
  position: absolute;
  top: 6.8rem;
  -ms-flex-line-pack: end;
      align-content: end;
  width: 100vw;
  font-size: 2rem;
  font-weight: 300;
  height: 0rem;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
}
@media (min-width: 1165px) {
  .ham-menu {
    display: none;
  }
}
.ham-menu__list {
  padding-top: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.ham-menu__item[aria-current=page] {
  color: #cbb989;
}
.ham-menu__item {
  color: white;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.ham-menu__item:hover {
  color: #b49b56;
}
.ham-menu__item:active {
  -webkit-transition: none;
  transition: none;
  color: #9f8642;
}

.ham-open {
  height: 38rem;
}
.ham-open__list {
  opacity: 1;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}

footer {
  height: auto;
  background-color: #1a1a1a;
  font-size: 1.4rem;
  color: white;
}

.footer__div {
  max-width: 110rem;
  padding: 4rem;
  padding-bottom: 2rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5.6rem;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__links a {
  color: white;
  font-size: 1.8rem;
}
.footer__links a:hover, .footer__links a:focus {
  color: #cbb989;
}
.footer__links a:active {
  color: #9f8642;
}
.footer__credits {
  border-top: white solid 1px;
  padding-top: 1.6rem;
  padding-bottom: 0.4rem;
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form {
  width: 90%;
  font-size: 1.8rem;
  color: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input {
  padding: 2rem 3rem 0.3rem 0.8rem;
  border: none;
  border-bottom: solid 1px black;
  background-color: none;
  -webkit-transition: padding 0.2s;
  transition: padding 0.2s;
  font-size: 2.2rem;
}
input:focus {
  border: 1px solid black;
  outline: none;
  padding: 1.14rem 3rem 1.14rem 1rem;
}

input::-webkit-input-placeholder {
  font-weight: 200;
  color: rgb(100, 100, 100);
}

input::-moz-placeholder {
  font-weight: 200;
  color: rgb(100, 100, 100);
}

input:-ms-input-placeholder {
  font-weight: 200;
  color: rgb(100, 100, 100);
}

input::-ms-input-placeholder {
  font-weight: 200;
  color: rgb(100, 100, 100);
}

input::placeholder {
  font-weight: 200;
  color: rgb(100, 100, 100);
}

input[type=submit] {
  text-transform: uppercase;
  color: white;
  letter-spacing: 1.2;
  font-size: 1.8rem;
  background-color: #1a1a1a;
  width: 25%;
  padding: 1.2rem 4rem;
  border-radius: 4px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: none;
}
input[type=submit]:hover, input[type=submit]:focus {
  color: #b49b56;
  border: none;
}
input[type=submit]:active {
  color: #9f8642;
  background-color: #2a2929;
  outline: none;
}

input:-internal-autofill-selected {
  -webkit-appearance: menulist-button;
     -moz-appearance: menulist-button;
          appearance: menulist-button;
  background-image: none !important;
  background-color: -internal-light-dark(white, red) !important;
  color: fieldtext !important;
}

.btn:link,
.btn:visited {
  outline-color: transparent;
}

.btn:hover,
.btn:active {
  outline-color: transparent;
}

.social__icon {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.social__icon:hover, .social__icon:focus {
  fill: #cbb989;
}
.social__icon:active {
  fill: #9f8642;
}

@font-face {
  font-family: Spy;
  src: url(/Assets/SpyFont/spyagencyv3laser.ttf);
}
.home-banner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  height: auto;
  width: 90%;
  display: grid;
  border-radius: 8px;
  overflow: hidden;
}
.home-banner__img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-self: start;
  grid-column: 1/-1;
  grid-row: 1/-1;
  z-index: 2;
  position: relative;
  margin-right: 30%;
}
.home-banner__img-container--img {
  height: 55vh;
  width: auto;
}
@media (max-width: 1150px) {
  .home-banner__img-container--img {
    min-width: 28rem;
    height: auto;
  }
}
.home-banner__img-container--gradient {
  height: 100%;
  position: absolute;
  width: 30%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.5)), color-stop(98%, black));
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, black 98%);
  right: 0;
  z-index: 5;
}
.home-banner__black {
  height: auto;
  width: auto;
  background-color: black;
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.home-banner__text {
  font-size: clamp(3rem, 3.85vw, 9rem);
  text-align: end;
  width: min(110rem, 50vw);
  text-wrap: balance;
  font-family: Spy, Verdana, Geneva, Tahoma, sans-serif;
  grid-column: 1/-1;
  grid-row: 1/-1;
  padding-right: max(1rem, 5%);
  z-index: 4;
  justify-self: end;
  align-self: center;
  color: transparent;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #b49b56), color-stop(30%, #cbb989), color-stop(60%, #9f8642));
  background: linear-gradient(to right, #b49b56 10%, #cbb989 30%, #9f8642 60%);
  background-clip: text;
  -webkit-background-clip: text;
  position: relative;
}
.home-banner__text::before {
  z-index: 6;
  content: "";
  position: absolute;
  top: 0rem;
  margin-top: 4.3%;
  left: 0rem;
  margin-left: 0.5%;
  width: 90%;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(5%, rgba(255, 255, 255, 0.1)), color-stop(25%, rgba(255, 255, 255, 0.3)), color-stop(30%, rgb(255, 255, 255)), color-stop(32%, rgb(255, 255, 255)), color-stop(38%, rgba(255, 255, 255, 0.3)), color-stop(95%, rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.1) 5%, rgba(255, 255, 255, 0.3) 25%, rgb(255, 255, 255) 30%, rgb(255, 255, 255) 32%, rgba(255, 255, 255, 0.3) 38%, rgba(255, 255, 255, 0.1) 95%, rgba(0, 0, 0, 0) 100%);
  background-size: 200% 100%;
  -webkit-animation: shine 2.8s ease-in-out forwards;
          animation: shine 2.8s ease-in-out forwards;
}
@media (max-width: 780px) {
  .home-banner__text::before {
    display: none;
  }
}

@-webkit-keyframes shine {
  0% {
    background-position: 100% 0;
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  34% {
    opacity: 0.4;
  }
  35% {
    opacity: 0.9;
  }
  36% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    background-position: -100% 0;
    opacity: 0;
  }
}

@keyframes shine {
  0% {
    background-position: 100% 0;
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  34% {
    opacity: 0.4;
  }
  35% {
    opacity: 0.9;
  }
  36% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    background-position: -100% 0;
    opacity: 0;
  }
}
.partner-logo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 12rem;
  max-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 800px) {
  .partner-logo {
    margin-bottom: 8rem;
  }
}
.partner-logo__img {
  height: clamp(3rem, 5vw, 5.6rem);
  width: auto;
  opacity: 0.5;
}

.news {
  font-family: "Roboto", sans-serif;
  width: 70%;
  font-size: large;
  margin: 0 auto;
  margin-bottom: 24rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}
@media (width <= 1200px) {
  .news {
    width: 85%;
  }
}
.news__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
  margin-bottom: 8rem;
}
@media (max-width: 800px) {
  .news__card {
    margin-bottom: 4rem;
  }
}
.news__card--img-holder {
  min-height: 100%;
  min-width: max(13rem, 20%);
  aspect-ratio: 16/9;
  border-radius: 6px;
  overflow: hidden;
  background-image: url("/Assets/img/img_placeholder.png");
  background-size: cover;
  background-position: center;
  display: block;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
@media (max-width: 800px) {
  .news__card--img-holder {
    display: none;
  }
}
.news__card--img-holder:active {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px -1px, rgba(0, 0, 0, 0.06) 0px 1px 2px -1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px -1px, rgba(0, 0, 0, 0.06) 0px 1px 2px -1px;
}
.news__card--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  text-align: start;
}
.news__card--title {
  max-width: 80ch;
  color: #1a1a1a;
  padding-top: 0.2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.news__card--title:active {
  color: grey;
}
.news__card--date {
  font-size: 1.6rem;
  color: grey;
  margin-top: -1.6rem;
}
.news__card--article {
  max-width: 95ch;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
@media (max-width: 800px) {
  .news__card--article {
    margin-top: -1rem;
  }
}
.news__btn {
  margin: 0 auto;
  width: 40%;
  color: white;
  letter-spacing: 1.2;
  font-size: 1.8rem;
  background-color: #1a1a1a;
  padding: 1.2rem 2.4rem;
  border-radius: 4px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.news__btn:hover, .news__btn:focus {
  color: #b49b56;
  background-color: #2a2929;
}
.news__btn:active {
  color: #9f8642;
  background-color: #1a1a1a;
}

.achievements {
  background-color: #1a1a1a;
  height: auto;
  width: 100%;
  margin-bottom: 16rem;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.achievements__block {
  padding: 8rem 2rem;
  height: auto;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6rem;
}
@media (width <= 1140px) {
  .achievements__block {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
    row-gap: 8rem;
  }
}
.achievements__content {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  min-width: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-wrap: balance;
}
.achievements__content--icon {
  height: clamp(3.8rem, 4vw, 6rem);
  margin-bottom: 4rem;
}
@media (width <= 1140px) {
  .achievements__content--icon {
    margin-bottom: 2rem;
    min-width: 16rem;
  }
}
.achievements__content--title {
  font-size: clamp(1.2rem, 1vw, 1.8rem);
  font-weight: 500;
  color: #cbb989;
}
.achievements__content--text {
  color: white;
  font-weight: 1.6rem;
  font-size: clamp(1.4rem, 1vw, 1.6rem);
  line-height: 1.5;
  letter-spacing: 0.4px;
}

.subscribe {
  margin-bottom: 8rem;
}
.subscribe__div {
  max-width: 120rem;
  height: 60rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  padding: 4rem 6rem;
  gap: 2rem;
}
@media (width <= 1100px) {
  .subscribe__div {
    margin-top: -6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4rem;
  }
}
.subscribe__form {
  -ms-flex-item-align: center;
      align-self: center;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (width <= 1100px) {
  .subscribe__form {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.subscribe__form--title {
  font-size: clamp(2.8rem, 4vw, 4rem);
  margin-bottom: 6rem;
}
.subscribe__logo {
  height: 60%;
  -ms-flex-item-align: center;
      align-self: center;
  opacity: 0.85;
  background-image: url(/Assets/img/shogen_club_logo_blue_SVG.svg);
  background-position: right;
  background-repeat: no-repeat;
}
@media (width <= 1100px) {
  .subscribe__logo {
    background-position: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 20rem;
    width: 100%;
  }
}

.about-us {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.18fr;
  gap: 6vw;
  margin-bottom: 24rem;
  position: relative;
}
@media (width <= 1330px) {
  .about-us {
    margin-top: 16rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}
.about-us__block {
  grid-column: 1/2;
  grid-row: 1/-1;
  background-color: #1a1a1a;
  border-radius: 0 6px 6px 0;
  position: relative;
  margin-top: 8rem;
  margin-bottom: 5rem;
  margin-right: 8rem;
}
@media (width <= 1330px) {
  .about-us__block {
    height: 18vw;
    min-height: 12rem;
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
}
.about-us__block--img {
  border-radius: 6px;
  overflow: hidden;
  width: clamp(22rem, 36vw, 56rem);
  height: auto;
  position: absolute;
  right: -6.2vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (width <= 1330px) {
  .about-us__block--img {
    right: clamp(2.8rem, 7vw, 16rem);
    margin-left: 10rem;
  }
}
.about-us__content {
  padding: min(8rem, 6vw);
  color: #1a1a1a;
  display: grid;
}
.about-us__content--title {
  font-size: clamp(2.6rem, 3vw, 3.2rem);
  margin-bottom: 4rem;
}
@media (width <= 1330px) {
  .about-us__content--title {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
.about-us__content--story {
  max-width: 46ch;
  min-width: 40ch;
  font-size: min(2.2rem, 3.1vw, 2rem);
  margin-bottom: 6rem;
}
@media (width <= 1330px) {
  .about-us__content--story {
    max-width: 100%;
    margin-bottom: 2rem;
  }
}
.about-us__content--btn {
  color: grey;
  white-space: nowrap;
  font-size: clamp(1.4rem, 1.8vw, 1.8rem);
  padding: 0.5rem;
  width: 18%;
}
.about-us__content--btn:hover, .about-us__content--btn:active {
  color: #1a1a1a;
}

.contact {
  display: grid;
  justify-items: center;
}
.contact__info {
  margin-top: calc(4rem + 3.6vw);
  margin-bottom: 12rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-width: 80rem;
  width: 64vw;
}
@media (width <= 900px) {
  .contact__info {
    grid-template-columns: 1fr;
    padding-inline: 2rem;
    min-width: 70%;
  }
}
.contact__info--form {
  justify-self: end;
  width: 100%;
  padding-left: clamp(0.2rem, 5vw, 18rem);
}
.contact__info--form h1 {
  font-size: clamp(2.4rem, 3.2vw, 3.2rem);
  margin-bottom: 6rem;
}
.contact__info--form-cell {
  font-size: clamp(1.8rem, 1.8vw, 2rem);
}
@media (width <= 900px) {
  .contact__info--form-cell {
    padding: 0;
  }
}
.contact__info--form-cell-message {
  word-wrap: break-word;
  resize: vertical;
  border: solid 1px black;
  border-radius: 3px;
  padding: 1rem 3rem 1.19rem 1rem;
  font-size: clamp(1.8rem, 1.8vw, 2rem);
  margin-top: 2rem;
}
.contact__info--form-cell-message:focus {
  border: none;
}
.contact__info--details {
  justify-self: end;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  font-size: clamp(2rem, 1.8vw, 2.2rem);
  padding-left: clamp(0.2rem, 5vw, 18rem);
  padding-top: 11rem;
  padding-right: 1rem;
}
.contact__info--details h3 {
  margin-bottom: 2rem;
}
@media (width <= 900px) {
  .contact__info--details {
    padding-left: 0.8rem;
    padding-right: 0;
    justify-self: start;
  }
}
.contact__info--social {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.contact__info--social-icon {
  height: 4rem;
  width: auto;
}
.contact__info--social-icon:hover, .contact__info--social-icon:focus {
  fill: #9f8642;
}
.contact__info--social-icon:active {
  fill: #cbb989;
}
.contact__maps {
  background-color: #1a1a1a;
  width: 80vw;
  height: auto;
  border-radius: 4px;
  margin-bottom: 24rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
@media (width <= 900px) {
  .contact__maps {
    grid-template-columns: 1fr;
  }
}
.contact__maps--address {
  color: white;
  font-size: clamp(1.7rem, 1.2vw, 2.2rem);
  margin-bottom: clamp(1rem, 5vw, 2rem);
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 6;
  font-family: "Inter", sans-serif, sans-serif;
}
.contact__maps--section {
  margin-bottom: 14%;
  margin-top: 8%;
  width: 66%;
  display: grid;
}
.contact__maps--section-left {
  margin-left: 7%;
}
@media (width <= 900px) {
  .contact__maps--section-left {
    margin-left: 0;
    width: 90%;
    margin-bottom: 5%;
  }
}
.contact__maps--section-right {
  margin-right: 7%;
}
@media (width <= 900px) {
  .contact__maps--section-right {
    margin-right: 0;
    width: 90%;
    margin-bottom: 5%;
  }
}
.contact__maps--mapcontainer {
  background-color: white;
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 4px;
  justify-self: center;
  position: relative;
}
.contact__maps--map {
  position: absolute;
  top: 2.5%;
  bottom: 2.5%;
  left: 2.5%;
  right: 2.5%;
}
.contact__maps--map iframe {
  width: 100%;
  height: 100%;
}
.contact__maps-left {
  margin-left: 4vw;
}
.contact__maps-right {
  margin-right: 4vw;
}

.tabs-wrapper {
  margin-top: calc(4rem + 3.6vw);
  width: 64vw;
  margin-inline: auto;
  color: #1a1a1a;
}
.tabs-wrapper h1 {
  margin-bottom: 6rem;
  text-transform: uppercase;
  font-size: 3.4rem;
}

.red {
  background-color: pink;
  height: 20rem;
  width: 20rem;
}

.green {
  background-color: lightgreen;
  height: 20rem;
  width: 20rem;
}

[role=tablist] {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8rem;
  margin: 0;
  margin-bottom: 8rem;
  padding: 0;
  font-size: 3.2rem;
}

.tab-button {
  color: #1a1a1a;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

[aria-selected=true] {
  text-decoration-thickness: 0.2em;
  color: orange;
}