body {
  font-family: "Onest", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #1a1a1a;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  font-size: 1.6rem;
}

a,
a:visited,
a:active {
  text-decoration: none !important;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  -webkit-margin-after: 2.4rem;
          margin-block-end: 2.4rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.container {
  padding: 0 1.5;
  max-width: 62.5 rem;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  background-color: #1a1a1a;
  color: white;
  height: 6.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.nav {
  width: 95vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__logo {
  min-width: 27rem;
  margin-left: 0.5rem;
}
.nav__logo--text {
  color: transparent;
  font-size: 3rem;
  text-transform: uppercase;
  margin-left: 1.4rem;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #b49b56), color-stop(30%, #cbb989), color-stop(60%, #9f8642));
  background: linear-gradient(to right, #b49b56 10%, #cbb989 30%, #9f8642 60%);
  background-clip: text;
  -webkit-background-clip: text;
}

.menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 85rem;
  font-size: 2rem;
  font-weight: 300;
  padding-right: 1.25rem;
  -webkit-margin-start: 1rem;
          margin-inline-start: 1rem;
}
@media (max-width: 1125px) {
  .menu {
    min-width: 70rem;
  }
}
.menu__item {
  color: white;
  margin-left: 1rem;
  -webkit-transition: color, 0.2s;
  transition: color, 0.2s;
}
.menu__item_item[aria-current=page] {
  color: #cbb989;
}
.menu__item:hover {
  color: #b49b56;
}
.menu__item:active {
  -webkit-transition: none;
  transition: none;
  color: #9f8642;
}

.hidden {
  display: none;
}

.ham-nav {
  position: end;
  margin-right: 1.6rem;
}
.ham-nav__icon {
  height: 20px;
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ham-nav__el {
  background-color: white;
  height: 2.6px;
  width: 26px;
  border-radius: 1px;
}
.ham-nav__el--top {
  -webkit-animation: top-el 0.3s ease forwards;
          animation: top-el 0.3s ease forwards;
}
.ham-nav__el--middle {
  -webkit-transition: opacity 0.03s;
  transition: opacity 0.03s;
}
.ham-nav__el--bottom {
  -webkit-animation: bottom-el 0.3s ease forwards;
          animation: bottom-el 0.3s ease forwards;
}

.ham-nav__el--middle {
  opacity: 0;
}

@-webkit-keyframes top-el {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(8.7px) rotate(0deg);
            transform: translateY(8.7px) rotate(0deg); /* Move down halfway through the animation */
  }
  100% {
    -webkit-transform: translateY(8.7px) rotate(45deg);
            transform: translateY(8.7px) rotate(45deg); /* Rotate at the end of the animation */
  }
}

@keyframes top-el {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(8.7px) rotate(0deg);
            transform: translateY(8.7px) rotate(0deg); /* Move down halfway through the animation */
  }
  100% {
    -webkit-transform: translateY(8.7px) rotate(45deg);
            transform: translateY(8.7px) rotate(45deg); /* Rotate at the end of the animation */
  }
}
@-webkit-keyframes bottom-el {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-8.7px) rotate(0deg);
            transform: translateY(-8.7px) rotate(0deg); /* Move down halfway through the animation */
  }
  100% {
    -webkit-transform: translateY(-8.7px) rotate(-45deg);
            transform: translateY(-8.7px) rotate(-45deg); /* Rotate at the end of the animation */
  }
}
@keyframes bottom-el {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-8.7px) rotate(0deg);
            transform: translateY(-8.7px) rotate(0deg); /* Move down halfway through the animation */
  }
  100% {
    -webkit-transform: translateY(-8.7px) rotate(-45deg);
            transform: translateY(-8.7px) rotate(-45deg); /* Rotate at the end of the animation */
  }
}