@use "../utils/colors" as c;

.btn:link,
.btn:visited {
  outline-color: transparent;
}

.btn:hover,
.btn:active {
  outline-color: transparent;
}

.social__icon {
  transition: all 0.2s;

  &:hover,
  &:focus {
    fill: c.$gold-light;
  }
  &:active {
    fill: c.$gold-dark;
  }
}
