@use "../utils/colors" as c;

@font-face {
  font-family: Spy;
  src: url(/Assets/SpyFont/spyagencyv3laser.ttf);
}
// .section-about {
//     background-color: $color-grey-light-1;
//     padding: 25rem 0;
//     margin-top: -20vh;

//     @include respond(tab-port) {
//         padding: 20rem 0;
//     }
// }

.home-banner {
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-color: pink;
  height: auto;
  width: 90%;
  display: grid;
  border-radius: 8px;
  overflow: hidden;

  &__img-container {
    display: flex;
    justify-content: space-between;
    justify-self: start;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: +2;
    position: relative;
    margin-right: 30%;
    &--img {
      height: 55vh;
      width: auto;
      // display: none;
      @media (max-width: 1150px) {
        min-width: 28rem;
        height: auto;
      }
    }
    &--gradient {
      height: 100%;
      position: absolute;
      width: 30%;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 50%,
        black 98%
      );
      right: 0;
      z-index: +5;
    }
  }
  &__black {
    height: auto;
    width: auto;
    background-color: black;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  &__text {
    font-size: clamp(3rem, 3.85vw, 9rem);
    text-align: end;
    width: min(110rem, 50vw);

    font-family: Spy, Verdana, Geneva, Tahoma, sans-serif;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    padding-right: max(1rem, 5%);
    z-index: +4;
    justify-self: end;
    align-self: center;
    color: transparent;
    background: c.$gold-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;

    &::before {
      z-index: +6;
      content: "";
      position: absolute;
      top: 0rem;
      margin-top: 4.3%;
      left: 0rem;
      margin-left: 0.5%;
      width: 90%;
      height: 2px;
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 0.1) 5%,
        rgba(255, 255, 255, 0.3) 25%,
        rgba(255, 255, 255, 1) 30%,
        rgba(255, 255, 255, 1) 32%,
        rgba(255, 255, 255, 0.3) 38%,
        rgba(255, 255, 255, 0.1) 95%,
        rgba(0, 0, 0, 0) 100%
      );
      background-size: 200% 100%;
      animation: shine 2.8s ease-in-out forwards;

      @media (max-width: 780px) {
        display: none;
      }
    }
  }
}

@keyframes shine {
  0% {
    background-position: 100% 0;
    opacity: 0;
  }

  20% {
    opacity: 0.2;
  }

  34% {
    opacity: 0.4;
  }
  35% {
    opacity: 0.9;
  }
  36% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.2;
  }

  100% {
    background-position: -100% 0;
    opacity: 0;
  }
}

//--------------PARTNER LOGOS---------
.partner-logo {
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 8rem;
  max-width: 80%;
  display: flex;
  flex: wrap;
  justify-content: space-around;

  &__img {
    height: clamp(3rem, 5vw, 5.6rem);
    width: auto;
    opacity: 0.5;
  }
}

//--------------NEWS---------

.news {
  width: 70%;
  font-size: large;
  margin: 0 auto;
  margin-bottom: 16rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: auto;

  &__card {
    display: flex;
    gap: 4rem;
    margin-bottom: 8rem;

    @media (max-width: 900px) {
      flex-direction: column;
    }

    &--img {
      height: clamp(10rem, 15vw, 16rem);
      width: auto;
      border-radius: 6px;

      @media (max-width: 900px) {
        margin-bottom: -1rem;
      }
    }
    &--text {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-self: center;
      text-align: start;
    }

    &--title {
      color: c.$black;
      padding-top: 0.2rem;
    }
  }
  //--------NEWS BUTTON----------
  &__btn {
    color: white;
    font-size: 1.6rem;
    background-color: c.$black;
    padding: 1.2rem 2.4rem;
    border-radius: 4px;

    &:hover,
    &:focus {
      color: c.$gold;
    }
    &:active {
      transition: none;
      color: c.$gold-dark;
    }
  }
}
