@use "../utils/colors" as c;

@font-face {
  font-family: Spy;
  src: url(/Assets/SpyFont/spyagencyv3laser.ttf);
}
// .section-about {
//     background-color: $color-grey-light-1;
//     padding: 25rem 0;
//     margin-top: -20vh;

//     @include respond(tab-port) {
//         padding: 20rem 0;
//     }
// }

.home-banner {
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 3rem;
  background-color: pink;
  height: auto;
  width: 90%;
  display: grid;
  border-radius: 8px;
  overflow: hidden;

  &__img-container {
    display: flex;
    justify-content: space-between;
    justify-self: start;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: +2;
    position: relative;
    margin-right: 30%;
    &--img {
      height: 55vh;
      width: auto;
      // display: none;
      @media (max-width: 1150px) {
        min-width: 28rem;
        height: auto;
      }
    }
    &--gradient {
      height: 100%;
      position: absolute;
      width: 30%;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 50%,
        black 98%
      );
      right: 0;
      z-index: +5;
    }
  }
  &__black {
    height: auto;
    width: auto;
    background-color: black;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  &__text {
    font-size: 8rem;
    text-align: end;

    font-family: Spy, sans-serif;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    padding-right: max(1rem, 5%);
    z-index: +4;
    justify-self: end;
    align-self: center;
    color: transparent;
    background: c.$gold-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;

    &::before {
      z-index: +2;
      content: "";
      position: absolute;
      top: 4.5rem;
      left: 0.3rem;
      // border-top: red 3px solid;
      width: 93%;
      height: 2%;
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 0.1) 5%,
        rgba(255, 255, 255, 0.3) 25%,
        rgba(255, 255, 255, 1) 30%,
        rgba(255, 255, 255, 1) 32%,
        rgba(255, 255, 255, 0.3) 38%,
        rgba(255, 255, 255, 0.1) 95%,
        rgba(0, 0, 0, 0) 100%
      );
      background-size: 200% 100%;
      animation: shine 2.8s ease-in-out forwards;
    }

    // &::after {
    //   content: "";
    //   display: inline-block;
    //   width: 6rem;
    //   flex-basis: 2rem;
    // }
  }
}

@keyframes shine {
  0% {
    background-position: 100% 0;
    opacity: 0;
  }

  20% {
    opacity: 0.2;
  }

  34% {
    opacity: 0.4;
  }
  35% {
    opacity: 0.9;
  }
  36% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.2;
  }

  100% {
    background-position: -100% 0;
    opacity: 0;
  }
}

//--------------PARTNER LOGOS---------
.partner-logo {
  box-sizing: border-box;
  //   height: 15rem;
  margin: 0 auto;
  margin-top: 3rem;
  max-width: 80%;
  display: flex;
  flex: wrap;
  justify-content: space-around;

  &__img {
    height: 5.6rem;
    width: auto;
    opacity: 0.5;
  }
}

//--------------NEWS---------

.news {
  width: 70%;
  font-size: large;
  margin: 0 auto;
  text-align: center;
  padding: 3.35rem;
  display: flex;
  flex-direction: column;

  h2,
  p {
    align-self: start;
    text-align: start;
  }
}
