@use "../utils/colors" as c;

@font-face {
  font-family: Spy;
  src: url(/Assets/SpyFont/spyagencyv3laser.ttf);
}
// .section-about {
//     background-color: $color-grey-light-1;
//     padding: 25rem 0;
//     margin-top: -20vh;

//     @include respond(tab-port) {
//         padding: 20rem 0;
//     }
// }

.home-banner {
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-color: pink;
  height: auto;
  width: 90%;
  display: grid;
  border-radius: 8px;
  overflow: hidden;

  &__img-container {
    display: flex;
    justify-content: space-between;
    justify-self: start;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: +2;
    position: relative;
    margin-right: 30%;
    &--img {
      height: 55vh;
      width: auto;
      // display: none;
      @media (max-width: 1150px) {
        min-width: 28rem;
        height: auto;
      }
    }
    &--gradient {
      height: 100%;
      position: absolute;
      width: 30%;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 50%,
        black 98%
      );
      right: 0;
      z-index: +5;
    }
  }
  &__black {
    height: auto;
    width: auto;
    background-color: black;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  &__text {
    font-size: clamp(3rem, 3.85vw, 9rem);
    text-align: end;
    width: min(110rem, 50vw);

    font-family: Spy, Verdana, Geneva, Tahoma, sans-serif;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    padding-right: max(1rem, 5%);
    z-index: +4;
    justify-self: end;
    align-self: center;
    color: transparent;
    background: c.$gold-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;

    &::before {
      z-index: +6;
      content: "";
      position: absolute;
      top: 0rem;
      margin-top: 4.3%;
      left: 0rem;
      margin-left: 0.5%;
      width: 90%;
      height: 2px;
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 0.1) 5%,
        rgba(255, 255, 255, 0.3) 25%,
        rgba(255, 255, 255, 1) 30%,
        rgba(255, 255, 255, 1) 32%,
        rgba(255, 255, 255, 0.3) 38%,
        rgba(255, 255, 255, 0.1) 95%,
        rgba(0, 0, 0, 0) 100%
      );
      background-size: 200% 100%;
      animation: shine 2.8s ease-in-out forwards;

      @media (max-width: 780px) {
        display: none;
      }
    }
  }
}

@keyframes shine {
  0% {
    background-position: 100% 0;
    opacity: 0;
  }

  20% {
    opacity: 0.2;
  }

  34% {
    opacity: 0.4;
  }
  35% {
    opacity: 0.9;
  }
  36% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.2;
  }

  100% {
    background-position: -100% 0;
    opacity: 0;
  }
}

//--------------PARTNER LOGOS---------
.partner-logo {
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 8rem;
  max-width: 80%;
  display: flex;
  flex: wrap;
  justify-content: space-around;

  &__img {
    height: clamp(3rem, 5vw, 5.6rem);
    width: auto;
    opacity: 0.5;
  }
}

//--------------NEWS---------

.news {
  width: 70%;
  font-size: large;
  margin: 0 auto;
  margin-bottom: 16rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: auto;
  @media (width <= 1200px) {
    width: 85%;
  }

  &__card {
    display: flex;
    gap: 4rem;
    margin-bottom: 8rem;
    // background-color: pink;

    &--img-holder {
      min-height: 100%;
      min-width: max(13rem, 20%);
      border-radius: 6px;
      overflow: hidden;
      background-image: url("/Assets/img/img_placeholder.png");
      background-size: cover;
      background-position: center;
      display: block;
      // border: 2px solid c.$black;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      @media (max-width: 800px) {
        display: none;
      }
      &:active {
        transform: translateY(2px);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px -1px,
          rgba(0, 0, 0, 0.06) 0px 1px 2px -1px;
      }
    }

    &--text {
      // background-color: skyblue;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      text-align: start;
    }

    &--title {
      max-width: 80ch;
      color: c.$black;
      padding-top: 0.2rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;

      &:active {
        color: grey;
      }
    }

    &--date {
      font-size: 1.6rem;
      color: grey;
      margin-top: -1.6rem;
    }

    &--article {
      max-width: 95ch;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;

      @media (width <= 1200px) {
        -webkit-line-clamp: 2;
      }
    }
  }
  //--------NEWS BUTTON----------
  &__btn {
    margin: 0 auto;
    width: 40%;
    color: white;
    letter-spacing: 1.2;
    font-size: 1.8rem;
    background-color: c.$black;
    padding: 1.2rem 2.4rem;
    border-radius: 4px;
    transition: all 0.2s;

    &:hover,
    &:focus {
      color: c.$gold;
      background-color: c.$black-light;
    }
    &:active {
      color: c.$gold-dark;
      background-color: c.$black;
    }
  }
}

//--------------ACHIEVEMENTS---------
.achievements {
  background-color: c.$black;
  height: 46rem;
  width: 100%;
  margin-bottom: 16rem;
  display: grid;
  justify-items: center;
  align-items: center;

  &__block {
    height: 90%;
    width: 70%;
    // background-color: pink;
    display: flex;
    gap: 12rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    text-align: center;
    &--icon {
      height: 5rem;
      width: auto;
      margin-bottom: 4rem;
    }
    &--title {
      font-size: 2rem;
      font-weight: 500;
      color: c.$gold-light;
    }
    &--text {
      color: white;
      font-weight: 1.6rem;
    }
  }
}

//--------------SUBSCRIBE---------
.subscribe {
  &__div {
    height: 80rem;
  }
}

//--------------ABOUT US---------
.about-us {
  // background-color: pink;
  // height: 62rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  margin-bottom: 16rem;
  position: relative;
  &__block {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background-color: c.$black;
    border-radius: 0 4px 4px 0;

    margin-top: 8rem;
    margin-bottom: 5rem;
    margin-right: 5rem;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: 10rem;
    //   right: 48vw;
    //   height: 38rem;
    //   width: 62rem;
    //   border: 2px solid c.$gold;
    //   border-radius: 4px;
    // }
  }
  &__img {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    z-index: +10;
    border-radius: 4px;
    max-height: 42rem;
    position: absolute;
    right: 0;
    top: 5%;
    margin-left: 2rem;
    overflow: hidden;
  }

  &__content {
    // background-color: yellow;
    padding: min(8rem, 6vw);
    color: c.$black;
    display: grid;

    &--title {
      font-size: 3.2rem;
      margin-bottom: 4rem;
    }

    &--story {
      max-width: 50ch;
      font-size: min(1.8rem, 1.9vw, 2rem);
      margin-bottom: 6rem;
    }

    &--btn {
      color: grey;
      white-space: nowrap;
      font-size: 1.6rem;
      padding: 0.5rem;
      width: 18%;
    }
  }
}
