@use "../utils/colors" as c;
@use "../utils/fonts" as f;

.tabs-wrapper {
  // background-color: yellow;
  margin-top: calc(4rem + 3.6vw);
  width: 54vw;
  margin-inline: auto;
  color: c.$black;

  h1 {
    margin-bottom: 6rem;
    text-transform: uppercase;
    font-size: 3.4rem;
  }
}

.tabs-container {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.05px;
    background-color: c.$grey;
    z-index: -10;
    // scale: var(--_width, --_tabwidth) 1;
    // translate: var(--_left, 0px) 0;
    // transition: scale, translate 0.3s;
  }
}

[role="tablist"] {
  // background-color: yellow;
  // width: fit-content;
  min-width: 41.5rem;
  list-style: none;
  display: flex;
  gap: 6rem;
  margin: 0;
  margin-bottom: 8rem;
  padding: 0;
  // padding-left: 1rem;
  font-size: clamp(2.4rem, 3vw, 3.2rem);
  font-family: f.$fontInter;
  // position: relative;
}

// [role="tablist"]::after {
//   content: "";
//   position: absolute;
//   left: 0;
//   right: 0;
//   bottom: -2px;
//   height: 4px;
//   scale: var(--_width, --_tabwidth) 1;
//   translate: var(--_left, 0px) 0;
//   transform-origin: left;
//   transition: scale, translate 0.3s;
//   background-color: black;
//   background-color: black;
// }

.tab-button {
  background-color: antiquewhite;
  color: c.$grey-light;
  padding-inline: 2rem;
  transition: all 0.2s;
  padding-bottom: 0.2rem;

  &:hover {
    color: c.$grey;
  }
  &:active {
    color: c.$black;
  }
}

[aria-selected="true"] {
  color: c.$black;
  transform-origin: left;
  transition: scale 2s;
  position: relative;

  &:active,
  &:hover {
    color: c.$black;
  }

  &::after {
    content: "";
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 4px;
  }
}

.red {
  background-color: pink;
  height: 20rem;
  width: 20rem;
}
.green {
  background-color: lightgreen;
  height: 20rem;
  width: 20rem;
}
