// :root {
//     --black: yellow,
//     --gold: #b49b56,
// };

$black: #1a1a1a;
$black-light: #2a2929;
$gold: #b49b56;
$gold-dark: #9f8642;
$gold-light: #cbb989;
$gold-lightest: #d2c39a;

$gold-gradient: linear-gradient(
  to right,
  #b49b56 10%,
  #cbb989 30%,
  #9f8642 60%
);
